@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin-left: 5rem;
}

.shadows {
  border: 2px solid rgba(0, 0, 0, 0.104);
  box-shadow: 6px 8px 3px rgba(172, 161, 161, 0.171) !important;
}

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-700 text-white hover:bg-gray-600;
  }
}